{% extends 'baseweb.html.twig' %}

{% block body %}
	<!-- Banner -->
	<div class="banner">
		<div class="content__banner">
			<div class="banner__title">
				Welcome to my blog!
			</div>
			<div class="banner__text">
				Đây là nơi Thu Huyen chia sẻ những trải nghiệm sống, làm việc, kinh doanh tại hơn 120 quốc gia và sẽ không
				          dừng
				          lại. Thu Huyen rất mong những trải nghiệm này sẽ giúp được cho ai đó có duyên tìm đến blog này.
			</div>
		</div>
	</div>

	<!-- Share post -->
	<div class="share__post">
		<div class="share__content">
			<div class="flex">
				<div class="share__title">Chia sẻ bài đăng</div>
				<div class="share__icon">
					<img src="../../IMG/facebook-logo.png" alt="">
					<img src="../../IMG/twitter-logo.png" alt="">
					<img src="../../IMG/instagram-logo.png" alt="">
					<img src="../../IMG/link-logo.png" alt="">
				</div>
			</div>
		</div>
		<div class="close__share">
			<img src="../../IMG/close.png" alt="" onclick="closeShare()">
		</div>
	</div>
	<!-- Tabs item -->
	<div class="tablist">
		<div>
			<!-- Tab items -->
			<div class="tabs">
				<div class="tab-item active">
					All post
				</div>
				<div class="tab-item" id="test">
					Kĩ năng tương lai
				</div>
				<div class="tab-item">
					Phát triển bản thân
				</div>
				<div class="tab-item">
					Kinh doanh và Tech
				</div>
				<!-- <div class="tab-item">
				            Cuộc sống hạnh phúc
				          </div> -->
				<div class="tab-item item_down">
					Khác
					<i class="fas fa-chevron-down" style="font-size: 12px;"></i>
					<ul class="more__menu">
						<li>
							<a href="">Cuộc sống & hạnh phúc</a>
						</li>
						<li>
							<a href="">Thơ & tản văn</a>
						</li>
						<li>
							<a href="">Travel</a>
						</li>
						<li>
							<a href="">Phỏng vấn & báo chí</a>
						</li>
					</ul>
				</div>
				<div class="tab-search">
					<i class="fas fa-search search"></i>
					<input class="inputSearch" type="text" placeholder="Search...">
					<i class="fas fa-times close"></i>
				</div>
				<div class="line"></div>
			</div>
			<!-- Tab content -->
			<div class="tab-content">
				<div class="tab-pane active">
					<div class="blog__item">
						{% for post in posts %}

							<div class="item__post">
								<a class="item__img" href="{{path('blog_detail', {'id': post.id})}}">
									<img src="{{asset('IMG/Blogs/'~post.image)}}" alt="">
								</a>
								<div style="display: flex;">
									<div class="item__info">
										<div class="info__avablog">
											<img src="{{asset('IMG/Blogs/'~post.image)}}" alt="">
										</div>
										<div class="info__text">
											{# {% for user in users %}
												{{user.fullname}}
												
											{% endfor %} #}
											<p class="realtimebl">4 giờ trước</p>
										</div>
										<div style="position: relative; top: -6px; left: 5px; font-size: 10px; cursor: pointer;"></div>
									</div>
									<div class="dots">
										<i class="fas fa-ellipsis-v"></i>
										<span class="share" id="share">
											<i class="fas fa-share"></i>
											Chia sẻ bài đăng
										</span>
									</div>
								</div>
								<div class="item__title">
									<a href="{{path ('blog_detail', {'id': post.id})}}" style="color: black; text-decoration: none;">
									
                  	<h3>{{post.title}}
										</h3>
										<p>
											{{post.content}}
										</p>
									</a>
								</div>
								<div style="border-bottom: 1px solid#ccc; width: 250px; margin: auto;"></div>
								<div class="item__icon">
									<div>
										<i class="far fa-eye">
											999</i>
										<i class="far fa-comment-alt" style="margin-left: 10px;">
											10</i>
									</div>
									<i class="far fa-heart">
										99</i>
								</div>
							</div>
						{% endfor %}

					</div>
				</div>
			</div>
			<div class="pagination">
				<span class="p">«</span>
				<span class="p actives">1</span>
				<span class="p">2</span>
				<span class="p">3</span>
				<span class="p">4</span>
				<span class="p">5</span>
				<span class="p">6</span>
				<span class="p">»</span>
			</div>
		</div>
	</div>

</div></body><script src="../JS/blog.js"></script>{% endblock %}
